{
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "@typescript-eslint/semi": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "arrow-parens": "off"
  }
}
