{
  "extends": ["airbnb-typescript", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "indent": "off",
    "arrow-parens": "off",
    "no-underscore-dangle": "off",
    "operator-linebreak": "off",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-indent": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/button-has-type": ["error", { "reset": true }]
  },
  "ignorePatterns": ["next.config.js", "scripts"]
}
